:root {
  --text: #1d3223;
  --background: #e9f6ee;
  --primary: #B3E9AC;
  --secondary: #425340;
  --accent: #fff1d1;
}

* {
  box-sizing: border-box;
}

img {
  pointer-events: none;
}

body {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--background);
}

header {
  z-index: 2;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 1.5rem 2rem;
  margin: 0;
}

header h1 {
  padding: 0;
  margin: 0;
  font-size: 8vh;
  color: var(--secondary);
}

.header-background {
  z-index: 2;
  position: fixed;
  height: 80vh;
  top: 20vh;
  left: 0;
  fill: var(--primary);
}

nav {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  left: 16vh;
  top: 10vh;
  height: 32vh;
}

nav > div {
  align-self: center;
  padding: 1vh 2vh;
  border-radius: 3vh;
  text-align: center;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

nav > div:hover {
  background-color: color-mix(in srgb, var(--accent) 30%, transparent);
}

nav > div > a {
  color: var(--background);
  font-size: 2.5vh;
}

.selected {
  background-color: var(--accent);
}

.selected:hover {
  background-color: color-mix(in srgb, var(--accent) 80%, transparent);
}

.selected > a {
  color: var(--secondary);
  
}

.nav-background {
  z-index: 1;
  fill: var(--secondary);
  position: fixed;
  left: 0;
  top: 0;
  height: 80vh;
}

main {
  z-index: 1;
  height: fit-content;
  margin-left: 38vh;
  margin-top: 6vh;
  max-width: 100vh;
  color: var(--text);
  padding: 2rem;
  padding-bottom: 22vh;
}

.main-background {
  position: fixed;
  z-index: 0;
  height: 110vh;
  top: -5vh;
  left: 15vh;
}

a {
  text-decoration: none;
}
